@import "../../colors";

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.carousel-img-div {
  width: auto;
  height: auto;
  border-radius: 25%;
}

.carousel-img {
  border-radius: inherit;
  height: 90%;
  width: auto;
  object-fit: contain;
}

.carousel-item h3 {
  color: $dark-fore;
}

.carousel-item p {
  color: $dark-fore;
  font-size: 0.75rem;
  padding-bottom: 2rem;
}
