.experience-section,
.skills-section {
  background-color: #dddddd;
  color: #06113c;
}

#resume #text-section a:link {
  color: #ff8c32;
  text-decoration: underline;
}

#resume #text-section a:visited {
  color: #ff8c32;
  text-decoration: none;
}

#resume #text-section a:hover {
  color: #dddddd;
  text-decoration: underline;
}

#resume #text-section a:active {
  color: #ff8c32;
  text-decoration: none;
}
