html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  background-color: red; /*set as red to be obvious if something is wrong}*/
}

:root {
  width: 100%;
  height: 100%;
}
