#header {
  background-color: #06113c;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header is above other content */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.logo {
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-svg {
  color: #ff8c32;
  margin-right: 10px;
}

.logo-text {
  color: #ff8c32;
  font-size: 1.5rem;
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.nav-links-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

.nav-item a {
  color: #ff8c32;
  text-decoration: none;
  font-family: "Noto Sans Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 819px) {
  .nav-links-list {
    display: none;
  }

  .nav-links.active .nav-links-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #06113c;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links.active .nav-links-list .nav-item {
    margin-bottom: 10px;
  }

  .nav-links.active {
    position: relative;
  }

  .nav-links-toggle {
    display: block;
    color: #ff8c32;
    font-size: 20px;
    cursor: pointer;
  }
}

@media screen and (min-width: 820px) {
  .nav-links-toggle {
    display: none; /* Hide the hamburger icon */
  }
}
