@import "../../colors";

#skills {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.skills-container {
  background-color: $light-back;
  width: 100%;
}

.skills-header-text {
  color: $light-fore;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.skills-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}
