@import "../../colors";

#career {
  background-color: $dark-back;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.career-carousel {
  background-color: $dark-back;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.career-header-text {
  color: $dark-fore;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}
