@import "../../colors";

#text-section {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.text-container {
  background-color: $dark-back;
  color: $dark-fore;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: center;
  padding: 2rem;
}

.text-content li {
  margin: 1rem 0;
}
