// https://colorhunt.co/palette/f8f5f1f8a4885aa89745526c
$dark-back: #45526c; //dark background
$dark-fore: #f8a488; //dark foreground
$light-back: #f8f5f1; //light background
$light-fore: #5aa897; //light foreground
